---
http_interactions:
- request:
    method: get
    uri: https://data.purelyhr.com/xml/?ak=TOP_SECRET&eDate=01/02/2019&sDate=01/02/2019
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Stackifyid:
      - V2|a9a3bebe-e536-4650-a8a6-864d921e653b|C65265|CD1
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='ISO-8859-1'?><DataService><Request ID="12345678"
        Status="Cancelled"><TimeOffDate>2019-01-14</TimeOffDate><TimeOffDayOfWeek>Monday</TimeOffDayOfWeek><TimeStart>2019-01-14T09:00:00</TimeStart><TimeEnd>2019-01-14T13:00:00</TimeEnd><TimeOffHours>4.000</TimeOffHours><TimeOffTypeName>Personal</TimeOffTypeName><LoginID>batman</LoginID><Firstname>Bruce</Firstname><Lastname>Wayne</Lastname><UserCategory></UserCategory><SubmittedDate>2019-01-02</SubmittedDate><Deducted>No</Deducted><Comment><![CDATA[]]></Comment></Request><Request
        ID="123456789" Status="Approved"><TimeOffDate>2019-01-14</TimeOffDate><TimeOffDayOfWeek>Monday</TimeOffDayOfWeek><TimeStart>2019-01-14T09:00:00</TimeStart><TimeEnd>2019-01-14T13:00:00</TimeEnd><TimeOffHours>4.000</TimeOffHours><TimeOffTypeName>Appointment</TimeOffTypeName><LoginID>batman</LoginID><Firstname>Bruce</Firstname><Lastname>Wayne</Lastname><UserCategory></UserCategory><SubmittedDate>2019-01-02</SubmittedDate><Deducted>No</Deducted><Comme[...]
